.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.generate-btn {
  background-color: #00ff00;
  color: #2a2d34; 
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  transition: background-color 0.3s, transform 0.3s;
}

.generate-btn:hover {
  background-color: #00cc00; 
  transform: scale(1.05);
}

.password-display {
  background-color: #2a2d34; 
  border: 2px solid #39ff14;
  border-radius: 0.375rem; 
  padding: 1rem;
  margin-top: 1.5rem; 
  display: flex; 
  align-items: center;
  justify-content: space-between; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.password-text {
  flex-grow: 1;
  color: #ffffff;
}

.copy-btn img {
  width: 24px; 
  height: 24px;
}

.copy-btn {
  background: transparent; 
  border: none; 
  padding: 5px;
  width: 24px; 
}

.spacer {
  height: 10px;
}

.password-label {
  display: flex; 
  align-items: center;
  margin-top: 1.5rem;
}

.password-input {
  width: 20ch; 
  border: 2px solid #39ff14; 
  border-radius: 0.375rem;
  background-color: #2a2d34;
  color: #ffffff;
  padding: 0.5rem;
  margin-left: 1rem; 
  font-size: 16px;
}

.password-checklist input[type="checkbox"] {
  accent-color: green;
}

.password-container {
  display: flex;
  flex-direction: column; 
  align-items: center;
}
